<div style="<%= style %>">
  <%= form_with url: directories_path, scope: :directory, validate: true  do |form| %>
    <div class="field">
      |-- <%= form.text_field :name, validate: { presence: true } %>
      <%= form.submit '+' %>
    </div>

    <%= form.hidden_field :path, value: path %>
  <% end %>
</div>
